.banner {

  height: 500px;
  width: auto;
  background-image: url("https://www.nasa.gov/sites/default/files/jupiter_1_0.jpg");
}
.ClassName {
  .carousel-item{
    src: url("http://bit.ly/2CfQrUV");
  }
}
