
body {.container {
    width: auto;
    height: 300px;

          .carousel {
                img: src="https://cdn.images.express.co.uk/img/dynamic/151/590x/secondary/NASA-image-of-Jupiter-1190001.jpg" alt="Jupiter" style="width:100%;"
         }
        }
}
h1 {
  color: blue;
}
